@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background: hsl(185, 75%, 39%);
  overflow: hidden;
  text-align: center;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -40% 50%, 140% -50%;
  background-size: auto, auto;
}

main {
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.photo img {
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 5px solid white;
  transform: translate(-50%, -50%);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid hsl(0, 0%, 63%);
}

.social .follow,
.likes,
.photos {
  padding-top: 20px;
}

.follow {
  align-items: center;
}

h3 {
  font-weight: 700;
  font-size: 1.3rem;
}

h4 {
  font-weight: 700;
  font-size: 1rem;
}

p {
  font-size: 0.65rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: hsl(0, 0%, 63%);
  padding-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: row;
}

.age p {
  font-size: 20px;
  margin-left: 10px;
}

.city p {
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 400px) {
  body {
    background-position: -170px -150px, 200px 500px;
    background-size: 300px 300px;
  }

  .container {
    width: 85%;
  }

  .card img {
    width: 100%;
  }
}
