@import "global";

.top_left {
  width: 25rem;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  // color: $very_dark_magenta;
}

.description {
  // color: $dark_grayish_magenta;
}

.ratings {
  font-weight: 700;
  // color: $very_dark_magenta;
  background: $light_grayish_magenta;
  padding: 2rem;
  display: flex;
  // align-items: flex-end;
  flex-direction: column;
}

.card {
  color: $white;
  background: $very_dark_magenta;
  padding: 3rem 2rem;
  width: 21rem;
  height: 15rem;
  border-radius: 5px;
  margin: 3rem auto;
}

.card p:nth-child(2) {
  font-weight: 500;
}

.card p:nth-child(3) {
  color: $soft_pink;
}

.card img {
  border-radius: 50%;
}
