@import "global";

.top {
  display: flex;
}

.top_left {
  width: 30rem;
}

.heading {
  width: 25rem;
}

.top_right {
  text-align: right;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
}

.ratings {
  font-weight: 700;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.rating_1,
.rating_2,
.rating_3 {
  display: flex;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  background: $light_grayish_magenta;
}

.star {
  padding-right: 2rem;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  color: $white;
  background: $very_dark_magenta;
  padding: 3rem 2rem;
  width: 21rem;
  height: 15rem;
  border-radius: 5px;
  margin: 2px;
}

.card p:nth-child(2) {
  font-weight: 500;
}

.card p:nth-child(3) {
  color: $soft_pink;
}

.card img {
  border-radius: 50%;
  width: 15%;
  height: auto;
}
