.container-productive {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;

  &__image {
    flex-grow: 1;
    flex-basis: 50%;
    max-width: fit-content;
    margin-right: 2rem;

    @include breakpoint-down(small) {
      margin-right: 0;
    }

    > img {
      @include breakpoint-down(small) {
        width: 20rem;
      }
    }
  }

  &__text {
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 30rem;
    text-align: left;
    padding-left: 2rem;

    > h1 {
      @include breakpoint-down(small) {
        font-size: 1.16rem;
      }
    }

    @include breakpoint-down(small) {
      max-width: 20rem;
      padding-left: 0;
    }

    & > a {
      color: $cyan;
      border-bottom: 1px solid $cyan;
      padding-bottom: 0.3rem;
      transition-property: color, border-bottom;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;

      > ion-icon {
        vertical-align: middle;
      }

      &:hover {
        color: $white;
        border-bottom: 1px solid $white;
      }
    }
  }
}
