footer {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: left;

  @include breakpoint-down(medium) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .top {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .bottom {
    display: flex;
    justify-content: space-between;

    @include breakpoint-down(medium) {
      flex-direction: column;
    }

    > * {
      display: inline-flex;
    }

    a,
    p {
      margin: 0;
    }

    img {
      padding-right: 2rem;
    }

    .location {
      margin-right: 5rem;
      width: 21rem;

      @include breakpoint-down(medium) {
        width: 19rem;
      }

      > img {
        height: 1.5rem;
        width: auto;
      }

      > a:hover {
        font-weight: 700;
      }
    }

    .contact {
      display: flex;
      flex-direction: column;

      @include breakpoint-down(medium) {
        margin-bottom: 5rem;
      }

      .phone {
        // height: 1rem;
        width: auto;
        padding-right: 2rem;
        margin-bottom: 1.5rem;

        @include breakpoint-down(medium) {
          margin-top: 1.5rem;
        }

        > img {
          height: 0.3rem;
        }

        > a:hover {
          font-weight: 700;
        }
      }

      .email {
        height: 1rem;
        padding-right: 2rem;

        > a:hover {
          font-weight: 700;
        }
      }
    }

    li {
      list-style-type: none;
      margin-bottom: 1rem;

      &:hover {
        font-weight: 700;
      }
    }

    .list1 {
      margin-bottom: 3rem;
    }

    ion-icon {
      font-size: 1rem;
      margin-right: 1rem;
      transition: color 300ms ease-in-out;
      border: 1px solid white;
      border-radius: 50%;
      padding: 0.5rem;

      &:hover {
        color: $cyan;
      }
    }

    .social {
      margin-left: 3rem;

      @include breakpoint-down(medium) {
        margin-top: 3rem;
        margin-left: 0;
        align-self: center;
      }

      > a {
        border-color: 1px solid white;
        border-radius: 50%;
      }
    }
  }
}
