html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
.cta,
.header__nav {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
button {
  font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: $white;
  line-height: 1.5;

  text-align: center;

  background-color: $darkBlueIntroEmail;

  //   padding: 3rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: $white;
}

button {
  font-family: inherit;
  background-color: $cyan;
  color: $white;
  border: none;
  padding: 0.8rem 3rem;
  border-radius: 10rem;
}

input {
  border-radius: 5rem;
  border: 0;
  padding: 0.8rem 15rem 0.8rem 2rem;

  margin-right: 2rem;
  color: rgba($darkBlueIntroEmail, 0.5);
  text-align: left;
}

footer {
  background-color: $darkBlueFooter;
  padding-top: 10rem;
}
