.header {
  background-color: $darkBlueIntroEmail;

  display: flex;

  padding: 3rem;

  &__nav {
    display: flex;

    width: 100%;

    justify-content: right;
    align-items: center;

    & > a:hover {
      border-bottom: 1px solid;
    }

    & > a:not(:last-child) {
      margin-right: 4rem;
    }
  }
}
