.intro {
  background-color: $darkBlueIntroEmail;
  background-image: url("../../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  @include breakpoint-down(small) {
    background-image: url("../../images/bg-curvy-mobile.svg");
    background-size: cover;
    background-position: bottom center;
  }

  padding-bottom: 10rem;

  & > a {
    position: relative;
    background-image: linear-gradient(to right, $cyan, $blue);
    padding: 0.8rem 3rem;
    border-radius: 10rem;
    cursor: pointer;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient($cyan);
      padding: 0.8rem 3rem;
      border-radius: 10rem;
      z-index: -1;
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  & > img {
    width: 32rem;

    @include breakpoint-down(small) {
      width: 16rem;
    }
  }
  &__text {
    & > h1 {
      font-size: 2.5rem;
      // line-height: 1.5;
      padding-top: 2rem;
      padding-bottom: 2rem;
      max-width: 44rem;
      margin: auto;

      @include breakpoint-down(small) {
        max-width: 18rem;
        font-size: 1.4rem;
      }
    }

    & > p {
      line-height: 1.7;
      padding-bottom: 2rem;
      max-width: 30rem;
      margin: auto;

      @include breakpoint-down(small) {
        max-width: 18rem;
      }
    }
  }
}
