.intro {
  background-color: $darkBlueIntroEmail;
  background-image: url("../../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  @include breakpoint-down(small) {
    background-image: url("../../images/bg-curvy-mobile.svg");
    background-size: cover;
    background-position: bottom center;
  }

  padding-bottom: 10rem;

  & > img {
    width: 32rem;

    @include breakpoint-down(small) {
      width: 16rem;
    }
  }
  &__text {
    & > h1 {
      line-height: 2;
      padding-top: 2rem;
      padding-bottom: 2rem;
      max-width: 35rem;
      margin: auto;

      @include breakpoint-down(small) {
        max-width: 18rem;
      }
    }

    & > p {
      line-height: 1.7;
      padding-bottom: 2rem;
      max-width: 26rem;
      margin: auto;

      @include breakpoint-down(small) {
        max-width: 18rem;
      }
    }
  }
}
