.main {
  &__intro {
    background: url("/images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    &__text {
      & > h1 {
        line-height: 2;
        padding-bottom: 2rem;
        max-width: 35rem;
        margin: auto;
      }

      & > p {
        line-height: 1.7;
        padding-bottom: 1.7rem;
        max-width: 26rem;
        margin: auto;
      }
    }
  }
}
