.testimonials {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  margin-bottom: 15rem;

  padding-top: 2rem;

  text-align: left;

  @include breakpoint-down(small) {
    background-position: 2.5rem 0;
  }

  &__left {
    position: relative;

    .quote {
      position: absolute;
      top: -15%;
      left: -2%;
      z-index: -1;
    }
  }

  &__items {
    flex-grow: 1;
    flex-basis: 33.33%;

    max-width: 21rem;

    background-color: $darkBlueTestimonials;

    padding: 2.5rem 1.5rem 2.5rem 1.5rem;

    @include breakpoint-down(medium) {
      flex-basis: 60%;
      margin-bottom: 2rem;
      max-width: 19rem;
      font-size: 0.7rem;
    }

    &:not(:last-of-type) {
      margin-right: 3rem;

      @include breakpoint-down(small) {
        margin-right: 0rem;
      }
    }

    &__info {
      display: flex;
      .img img {
        border-radius: 50%;
        width: 2rem;
        margin-right: 1.5rem;
      }

      .text {
        position: relative;
        width: 100%;

        h4 {
          // position: relative;
          // top: 0;
          margin: 0;
        }

        span {
          position: absolute;
          bottom: 0;

          p {
            margin: 0;
            font-size: 0.8rem;
          }
        }
      }

      // & > img {
      //   border-radius: 50%;
      //   width: 1.5rem;
      // }

      // & > h4 {
      //   display: inline-block;
      // }

      // & > p {
      //   display: inline-block;
      // }
    }
  }
}
