@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  margin: 8rem;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: hsl(204, 43%, 93%);
  color: white;
  line-height: 1.3rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0fr);
}

.table-top,
.table-left,
.table-right {
  padding: 2.5rem;
  border: 1px solid black;
}

.table-top {
  background: white;
  color: hsl(214, 6%, 76%);
  grid-column: 1 / span 3;
}

.join p {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.guarantee p {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  margin-bottom: 1rem;
}

.table-left {
  background: hsl(179, 62%, 43%);
  grid-column: 2 / 2;
  grid-row: 2 / 3;
}

.subscription {
  margin-bottom: 1.5rem;
}

.signup .button {
  background: hsl(71, 73%, 54%);
  color: white;
  border: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 2rem;
}

.table-right {
  background: hsl(179, 47%, 52%);
}

.table-right p {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.table-right li {
  list-style: none;
  color: hsl(177, 74%, 77%);
  font-size: 0.8rem;
}

footer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
