// Tablets & under
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;

    &-text {
      text-align: center;
      margin-top: 40px;
    }

    &-form {
      justify-self: center;
      margin: auto;
    }
  }
}

// Mobile
@media (max-width: 500px) {
  .navbar {
    height: 110px;

    .flex {
      flex-direction: column;
    }

    ul {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
