.footer {
  background-color: $grayishBlue;

  color: $darkGrayishBlue;

  &__container {
    position: relative;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo faq privacy install social" "logo contact press blank social";
    row-gap: 2rem;

    justify-items: center;

    min-height: 10rem;

    @include breakpoint-down(small) {
      display: flex;
      flex-direction: column;

      align-items: center;
    }

    &__logo {
      display: flex;
      justify-items: center;
      align-items: center;
      margin: auto;
      grid-area: logo;

      @include breakpoint-down(small) {
        margin-top: 4rem;
        margin-bottom: 1.5rem;
      }

      & > img {
        height: 4rem;
        width: auto;
      }
    }

    &__links {
      min-width: 10rem;
      text-align: left;

      @include breakpoint-down(small) {
        min-width: none;
        text-align: center;
      }
    }

    #faq {
      grid-area: faq;
      position: absolute;
      bottom: 0;

      @include breakpoint-down(small) {
        position: relative;
        bottom: auto;
      }
    }

    #contact {
      grid-area: contact;
    }

    #privacy {
      grid-area: privacy;
      position: absolute;
      bottom: 0;

      @include breakpoint-down(small) {
        position: relative;
        bottom: auto;
      }
    }

    #press {
      grid-area: press;
    }

    #install {
      grid-area: install;
      position: absolute;
      bottom: 0;

      @include breakpoint-down(small) {
        position: relative;
        bottom: auto;
      }
    }

    #blank {
      grid-area: blank;
    }

    &__social {
      grid-area: social;
      display: flex;
      justify-items: center;
      align-items: center;

      @include breakpoint-down(small) {
        margin-bottom: 4rem;
      }

      &__facebook,
      &__twitter,
      &__instagram {
        & svg path {
          transition: fill 300ms ease-in-out;
        }

        &:hover svg path {
          fill: $strongCyan;
        }
      }
      &__facebook {
        padding-right: 1rem;

        @include breakpoint-down(small) {
          padding-right: 3rem;
        }
      }
      &__twitter {
        padding-right: 1rem;

        @include breakpoint-down(small) {
          padding-right: 3rem;
        }
      }
    }
  }
}
