.footer {
  background-color: $grayishBlue;

  color: $darkGrayishBlue;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo links links links social" "logo links links links social";

    &__logo {
      grid-area: logo;
      & > img {
        height: 2.5rem;
        width: auto;
      }
    }

    &__links {
      grid-area: links;
    }

    &__social {
      &__facebook,
      &__twitter,
      &__instagram {
        display: inline-block;

        & svg path {
          transition: fill 300ms ease-in-out;
        }

        &:hover svg path {
          fill: $strongCyan;
        }
      }
      &__facebook {
      }
      &__twitter {
      }
      &__instagram {
      }
    }
  }
}
