html {
  font-size: 100%;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;

  background-image: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint-up(large) {
    background-image: url(/images/bg-header-desktop.png);
  }
}

h2,
h3,
h4 {
  font-weight: 600;
}
