main {
  padding: 5rem;
}

.container__computer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image text";

  margin-top: 6rem;
  margin-bottom: 6rem;
}

.container__computer__image {
  grid-area: image;

  position: relative;
  left: -7rem;
}

.container__computer__text {
  grid-area: text;

  text-align: left;

  padding-top: 4rem;
}

.container__computer__paragraph {
  width: 21rem;

  padding-left: 0;
  padding-right: 0;
}

.workflow__items {
  justify-content: center;

  display: grid;
  grid-template-columns: minmax(auto, 20%) minmax(auto, 20%) minmax(auto, 20%);
  grid-template-rows: 1fr;
  grid-template-areas: "blacklists snippets preview";
  gap: 2rem;

  &__blacklists,
  &__snippets,
  &__preview {
    background-repeat: no-repeat;
    background-position: top;

    padding-top: 3rem;
  }

  &__blacklists {
    grid-area: blacklists;

    background-image: url("/images/icon-blacklist.svg");
  }

  &__snippets {
    grid-area: snippets;
    background-image: url("/images/icon-text.svg");
  }

  &__preview {
    grid-area: preview;
    background-image: url("/images/icon-preview.svg");
  }
}

.workflow__items p {
  padding-left: 0;
  padding-right: 0;
}

.workflow__partners {
  display: flex;

  justify-content: space-around;
  align-items: center;

  margin-top: 5rem;
  margin-bottom: 5rem;
}

.download {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
