main {
  padding: 5rem;

  @include breakpoint-down(small) {
    padding: 5rem 1rem;
  }
}

.snippets {
  p {
    margin-left: auto;
    margin-right: auto;

    max-width: 80rem;
  }
}

.container__computer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image text";

  margin: 6rem 0;

  @include breakpoint-down(small) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "image" "text";
  }
}

.container__computer__image {
  grid-area: image;

  position: relative;
  left: -7rem;

  @include breakpoint-down(small) {
    width: 20rem;
    left: 0;
    margin: auto;
  }
}

.container__computer__text {
  grid-area: text;

  text-align: left;

  padding-top: 4rem;

  @include breakpoint-down(small) {
    padding-top: 0;

    text-align: center;

    p {
      max-width: 19rem;
      margin: auto;
    }
  }
}

.container__computer__paragraph {
  width: 21rem;

  padding-left: 0;
  padding-right: 0;
}

.access {
  p {
    max-width: 90%;
    margin: 0 auto 4rem auto;
  }

  img {
    @include breakpoint-down(small) {
      width: 20rem;
    }
  }
}

.workflow {
  &__items {
    justify-content: center;

    display: grid;
    grid-template-columns: minmax(auto, 22rem) minmax(auto, 22rem) minmax(
        auto,
        22rem
      );
    grid-template-rows: 1fr;
    grid-template-areas: "blacklists snippets preview";
    gap: 2rem;

    @include breakpoint-down(small) {
      grid-template-columns: 1fr;
      grid-template-areas: "blacklists" "snippets" "preview";
    }

    p {
      padding-left: 0;
      padding-right: 0;

      @include breakpoint-down(small) {
        max-width: 20rem;
        margin: auto;
      }
    }

    &__blacklists,
    &__snippets,
    &__preview {
      background-repeat: no-repeat;
      background-position: top;

      padding-top: 3rem;
    }

    &__blacklists {
      grid-area: blacklists;
      background-image: url("../../images/icon-blacklist.svg");
    }

    &__snippets {
      grid-area: snippets;
      background-image: url("../../images/icon-text.svg");
    }

    &__preview {
      grid-area: preview;
      background-image: url("../../images/icon-preview.svg");
    }
  }

  &__partners {
    display: flex;

    justify-content: space-around;
    align-items: center;

    margin: 5rem auto;

    max-width: 70%;

    @include breakpoint-down(small) {
      flex-direction: column;

      & > * {
        margin-bottom: 3rem;
      }
    }
  }
}

.download {
  margin: 5rem auto;
  max-width: 80rem;

  p {
    @include breakpoint-down(small) {
      width: 20rem;
    }
  }
}
