// Primary Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// Neutral Colors
$very_dark_blue: hsl(234, 12%, 34%);
$grayish_blue: hsl(229, 6%, 66%);
$very_light_gray: hsl(0, 0%, 98%);

html,
body {
  height: 100%;

  @media (max-width: 320px) {
    transform: scale(0.95);
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
  display: table; // Place all HTML items in a table
  margin: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: table-cell; // Place body items in a cell of the HTML table
  vertical-align: middle; // Align all items in the body at the center of the page
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: $very_light_gray;
  color: $grayish_blue;
  line-height: 1.3rem;
}
