@import "globals";

.text {
  text-align: center;
  max-width: 35rem;

  margin-left: auto; // Helps to center the text horizontally after the max-width value
  margin-right: auto;
  margin-bottom: 5rem;
}

.heading1,
.heading2 {
  font-size: 2.3rem;
  color: $very_dark_blue;

  @media (max-width: 420px) {
    font-size: 1.5rem;
  }
}

.heading1 {
  font-weight: 200;
}

.heading2 {
  font-weight: 600;
}

.description {
  font-size: 0.9rem;

  @media (max-width: 375px) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
  }

  @media (max-width: 320px) {
    margin-left: 0;
    margin-right: 0;
    font-size: 0.8rem;
  }
}

.cards {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  padding: 1rem 2.5rem;
  width: 22rem;
  height: 15rem;
  background: white;
  border-radius: 5px;
  // filter: drop-shadow(0px 0px 0.4rem $grayish_blue);
  box-shadow: 10px 10px 30px -16px $grayish_blue;
  transition: 0.5s;

  @media (min-width: 1000px) {
    grid-template-columns: repeat(2fr 2fr 2fr);
    grid-template-rows: repeat(1fr 1fr 1fr 1fr);
  }
}

#supervisor {
  border-top: 5px solid $cyan;

  @media (min-width: 1000px) {
    grid-column: 1 / 1;
    grid-row: 2 / span 3;
  }
}

#supervisor:hover {
  @media (min-width: 1000px) {
    transform: scale(1) translateX(-20px);
  }
}

#teambuilder {
  border-top: 5px solid $red;

  @media (min-width: 1000px) {
    grid-column: 2 / 2;
    grid-row: 1 / span 2;
  }
}

#teambuilder:hover {
  @media (min-width: 1000px) {
    transform: scale(1) translateY(-20px);
  }
}

#karma {
  border-top: 5px solid $orange;

  @media (min-width: 1000px) {
    grid-column: 2 / 2;
    grid-row: 3 / span 4;
  }
}

#karma:hover {
  @media (min-width: 1000px) {
    transform: scale(1) translateY(20px);
  }
}

#calculator {
  border-top: 5px solid $blue;

  @media (min-width: 1000px) {
    grid-column: 3 / 3;
    grid-row: 2 / span 3;
  }
}

#calculator:hover {
  @media (min-width: 1000px) {
    transform: scale(1) translateX(20px);
  }
}

.card_paragraph {
  font-weight: 200;
  font-size: 0.8rem;
}

.card_image {
  position: relative;
  text-align: right;
  bottom: 0%;
}

.card_heading {
  color: $very_dark_blue;
}

footer {
  display: none;
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
