@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 80%;
  margin: auto;
  height: 10vh;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo {
  font-weight: 400;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style-type: none;
  margin: 5px;
}

.nav-link {
  text-decoration: none;
  color: #5f5f79;
  font-size: 18px;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.hamburger {
  width: 25px;
  cursor: pointer;
  display: none;
}

.hamburger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: rgb(226, 226, 226);
  z-index: 2;
}

.presentation {
  display: flex;
  width: 80%;
  margin: auto;
  height: 80vh;
  align-items: center;
}

.cover {
  display: flex;
  flex: 1;
  height: 60vh;
  justify-content: center;
}

.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 3s ease;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  background-clip: none; /* For compatibility reasons */
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}

.cta {
  padding: 50px 0px 0px 0px;
}

.cta-select {
  border: 2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-add {
  border: none;
  color: white;
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 30px;
}

.big-circle {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}

.medium-circle {
  position: absolute;
  top: 50%;
  right: 40%;
  z-index: 1;
  opacity: 0.4;
}

.small-circle {
  position: absolute;
  top: 75%;
  right: 65%;
  z-index: 1;
}

.laptop-select {
  display: flex;
  width: 15%;
  justify-content: space-around;
  position: absolute;
  right: 23%;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1536px) {
  header {
    width: 95%;
  }

  .logo-container h4 {
    text-align: center;
  }

  .presentation {
    flex-direction: column;
  }

  .introduction {
    margin: 5vh;
    text-align: center;
  }

  .nav-link {
    padding-right: 10px;
    padding-left: 10px;
  }

  .intro-text h1 {
    font-size: 30px;
  }

  .intro-text p {
    font-size: 18px;
  }

  .cta {
    display: flex;
    justify-content: space-around;
    padding: 30px 0px 0px 0px;
  }

  .cover img {
    height: 80%;
  }

  .laptop-select {
    bottom: 2%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 5%);
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 75%;
  }

  body {
    overflow-x: hidden;
  }

  .logo-container {
    flex-direction: column;
  }

  .logo-container h4 {
    text-align: center;
  }

  .hamburger {
    display: block;
  }

  .cart {
    position: absolute;
    top: 3.1%;
    right: 30%;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100%;
    top: 0vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
}

.nav-active {
  transform: translateX(0%);
}
