html {
  font-size: 100%;
  box-sizing: border-box;

  display: table;
  margin: auto;
}

html,
body {
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  background-color: $lightGrayishBlue;

  @include breakpoint-up(desktop) {
    display: table-cell;
    vertical-align: middle;
    max-width: 90rem;
    // overflow-y: hidden;
  }
}

.container {
  margin: 5rem 1.5rem;

  @include breakpoint-up(desktop) {
    margin: 10rem;
  }
}

img {
  border-radius: 50%;
}
