.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (2, 1fr);
  grid-template-areas: "daniel daniel jonathan kira" "jeanette patrick patrick kira";
  gap: 2rem;

  &__daniel {
    grid-area: daniel;
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-color: $moderateViolet;
    color: $white;
  }

  &__jonathan {
    grid-area: jonathan;
    background-color: $veryDarkGrayishBlue;
    color: $white;
  }

  &__jeanette {
    grid-area: jeanette;
    background-color: $white;
    color: $veryDarkGrayishBlue;
  }

  &__patrick {
    grid-area: patrick;
    background-color: $veryDarkBlackishBlue;
    color: $white;
  }

  &__kira {
    grid-area: kira;
    background-color: $white;
    color: $veryDarkGrayishBlue;
  }
}

.grid-item {
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}

img {
  border: solid 2px rgba(255, 255, 255, 0.9);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.testimonials__info {
  opacity: 50%;
}

.testimonials__heading {
  font-weight: 600;
}

.testimonials__paragraph {
  opacity: 70%;
}
