.features {
  padding: 3rem 9.5rem;

  a {
    text-decoration: none;
  }

  .feature1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "feature1__image feature1__text";
    align-items: center;
    margin-bottom: 3.625rem;

    &__image {
      grid-area: feature1__image;

      > img {
        width: 80%;
      }
    }

    &__text {
      grid-area: feature1__text;
    }
  }

  .feature2 {
    display: grid;
    grid-template-columns: 1.12fr 2fr;
    grid-template-areas: "feature2__text feature2__image";
    align-items: center;

    &__image {
      grid-area: feature2__image;
      text-align: right;

      > img {
        width: 80%;
      }
    }

    &__text {
      grid-area: feature2__text;
    }
  }
}
