html {
  font: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

button {
  grid-area: button;
  border: none;
  background-color: $backgroundPurple;
  color: white;
  padding: 1.5rem 1.125rem;
  border-radius: 0.3rem;

  > :hover {
    cursor: pointer;
  }

  > :focus {
    outline: none;
  }
}
