@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: hsl(257, 40%, 49%);
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.logo {
  padding-top: 3%;
  padding-left: 3%;
}

main {
  display: flex;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 3%;
  align-items: center;
  justify-content: center;
}

.intro {
  padding-left: 3%;
}

.intro h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 400px;
}

.intro p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 470px;
}

.register {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 20px;
  color: hsl(300, 69%, 71%);
  background: white;
  background-size: auto;
}

.icons {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

#facebook,
#twitter,
#instagram {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}

.attrib {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 980px) {
  body {
    background-image: url(images/bg-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .mockup {
    max-width: 10px;
    height: auto;
  }

  .icons {
    bottom: 5%;
    left: 50%;
  }
}
